<header class="site-header">

  <div class = "container-fluid" id="top">
    <div class ="row">
      <div class = "col-lg-9 col-md-8 col-sm-8">
      </div>
      <div class = "col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <img id="smedia" src="images/smedia/email.png"></img>
        <img id="smedia" src="images/smedia/vine.png"></img>
        <img id="smedia" src="images/smedia/instagram.png"></img>
        <img id="smedia" src="images/smedia/twitter.png"></img>
        <img id="smedia" src="images/smedia/facebook.png"></img>
      </div>
    </div>
  </div>

  <div class="container-fluid wrapper">
    <div class = "row">
      <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class="site-title" href="{{ site.baseurl }}/"><img class="img-responsive" src="images/logo.png" ></img></a>
      </div>
    </div>
    <div class="container-fluid">
    <div class = "row" id="menu">
      <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class = "nav navbar-nav">
          <li>
            <a href="/blog/">
              <div class="menuitem">
                <img class="navimg" id ="linkhome" src="images/home.png"/>   HOME
              </div>
            </a>                                                                      
          </li>
          <li> 
            <a href="/blog/about/"> 
              <div class="menuitem">
                <img class="navimg" id ="linkabout" src="images/chocolate_smile.png"/>   ABOUT
              </div>
            </a>                                                                            
          </li>
          <li> 
            <a href="/blog/work/">
              <div class="menuitem">
                <img class="navimg" id ="linkwork" src="images/strawberry_smile.png"/>   WORK
              </div>
            </a> 
          </li>
          <li> 
            <a href="/blog/play/">
              <div class="menuitem">
                <img class="navimg" id ="linkplay" src="images/vanillia_smile.png"/>   PLAY
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    </div>
  </div>
    </div>


</header>
