<header class="site-header">

  <div class = "container-fluid" id="top">
    <div class ="row">
        <img id="smedia" src="images/smedia/email.png"></img>
        <img id="smedia" src="images/smedia/vine.png"></img>
        <img id="smedia" src="images/smedia/instagram.png"></img>
        <img id="smedia" src="images/smedia/twitter.png"></img>
        <img id="smedia" src="images/smedia/facebook.png"></img>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class = "row">
      <div class = "col-md-1"></div>
        <div class = "col-md-10">
        <a class="site-title" href="{{ site.baseurl }}/"><img class="img-responsive" src="images/logo.png" ></img></a>
      </div>
    </div>
  </div>
    <div class="container-fluid">
    <div class = "row">
    <div class = "col-lg-1 col-md-1"></div>
    <div class = "col-lg-10 col-md-10" id="menu">
        <ul class = "nav navbar-nav ">
          <li>
            <a href="/blog/">
                <img class="navimg" id ="linkhome" src="images/home.png"/>   HOME
            </a>                    
          </li>
          <li> 
            <a href="/blog/about/"> 
                <img class="navimg" id ="linkabout" src="images/chocolate_smile.png"/>   ABOUT
            </a>                                                                            
          </li>
          <li> 
            <a href="/blog/work/">
                <img class="navimg" id ="linkwork" src="images/strawberry_smile.png"/>   WORK
            </a> 
          </li>
          <li> 
            <a href="/blog/play/">
                <img class="navimg" id ="linkplay" src="images/vanillia_smile.png"/>   PLAY
            </a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
    </div>
  </div>
    </div>


</header>
