/**
 * Site header
 */

#top {
    background-color: $grey-color-light;
    #smedia {
        height: 25px;
        width: 25x;
    }
}

.navimg {
    height: 40px;
    weight: 40px;
}

@media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}  


.navbar-nav a {
    color: $grey-color;
    font-family: arial, san-serif;
    font-size: 90%;
}

#navtoggleimg {
    height: 60px;
    width: 90px;
}


#menu {
    border-bottom: 2px solid $grey-color-light;
    min-height: 40px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color-dark;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */

#footcol8 {
    padding-right: 0px;
    padding-left: 0px;
    background-color: $grey-color-light;
}

.footer-heading {
    font-size: 18px;
}

.site-footer {
    .wrapper {
        padding: 0px 0px 0px 0px;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
}

.footer-col-1{
    p {
        font-family: arial, san-serif;
        margin-bottom: 0px;
        text-transform: uppercase;
    }
}

.footer-col-2 {
    float: right;
    margin-bottom: 10px;
    .footerlinks{
        font-family: arial, san-serif;
        text-decoration: none;
        color: #ffffff;
        float: right;
    }
}


/**
 * Page content
 */

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 200%;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #383838;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    font-family: arial, san-serif;
    text-align: center;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-description {
    text-align: center;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * PLAY
 */

.imgBox#mint {
  background: url('/blog/images/posts/mint.jpg'); 
  height: 244px;
  width: 244px;
}

.imgBox#mint:hover {
  background: url('/blog/images/posts/penguin_mint.jpg'); 
  height: 244px;
  width: 244px;
  transition: 500ms, ease-in;
  
}

.imgBox#pepper {
  background: url('/blog/images/posts/pepper.jpg'); 
  height: 244px;
  width: 244px;
}

.imgBox#pepper:hover {
  background: url('/blog/images/posts/penguin_pepper.jpg'); 
  height: 244px;
  width: 244px;
  transition: 500ms, ease-in;
  
.imgBox#pepper:hover ~ .herb-text {
    opacity: 0.5;
  color: black;
  }
  
  .herb-text#pepper {
    opacity: 1;
    
  }
}

.imgBox#eggplant {
  background: url('/blog/images/posts/eggplant.jpg'); 
  height: 244px;
  width: 244px;
}

.imgBox#eggplant:hover {
  background: url('/blog/images/posts/penguin_eggplant.jpg'); 
  height: 244px;
  width: 244px;
  transition: 500ms, ease-in;
  
}

ul.play {
  list-style: none;
  
}

li {
  list-style: none;
  
}

div.inner-text {
  margin: 0 auto 0px auto;
}

.herb-text {
 width: 240px; 
  font-size: 12px; 

}

li.herbs {
  width: 244px; 
  display: inline-block;
  
}

/**
 * HOME
 */

.post-list {
    .post-link {
        font-family: arial, san-serif;
        font-weight: bold;
        text-decoration: none;
        color: $grey-color-dark;
    }
    p {
        font-family: arial, san-serif;
        color: $grey-color;
    }
    .postimg-outer {
        position: relative;
        width: 100%;
        height: 30vmax;
        overflow: hidden;
    }
    .postimg {
        position: absolute;
        min-width:100%;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

